.register,
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 82vh;
  padding-top: 5.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.register::after {
  content: '';
  transform: scaleX(-1);
  background: url('../assets/body-bg.svg') no-repeat;
  left: 0;
  top: 23rem;
  background-size: 100%;
  width: 24vw;
  height: 120vw;
  max-width: 8.375rem;
  position: absolute;
  z-index: -1;
}

.register::before {
  content: '';
  background: url('../assets/paws.png') no-repeat;
  right: 0;
  top: 0;
  background-size: 100%;
  width: 135px;
  height: 227px;
  max-width: 8.375rem;
  position: absolute;
}

.register img {
  height: 2.25rem;
}

.register p,
.home p {
  width: 19.5rem;
  text-align: center;
  color: var(--blue);
  margin-top: 1.5rem;
}

.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1.5rem;
  width: 100%;
}

.register label {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark-grey);
  margin-top: 1.25rem;
}

.register label:first-child {
  margin: 0;
}

.register input {
  display: inline-block;
  padding: 0.8rem;
  background: var(--light-grey);
  border-radius: 6px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.register button {
  margin-top: 1.5rem;
}

::placeholder {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--medium-grey);
}
