/* #region ----------------- GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins:wght@400;500;600&display=swap');

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
}

:root {
  /* fonts */
  --poppins: 'Poppins', sans-serif;
  --ibm: 'IBM Plex Sans', sans-serif;
  /* colors */
  --blue: #3874ff;
  --green: hsl(165, 66%, 53%);
  --coral: hsl(360, 96%, 71%);
  --btn-hover: hsl(359, 100%, 81%);
  --beige: hsl(31, 81%, 94%);
  --dark-grey: hsl(240, 5%, 48%);
  --medium-grey: hsl(0, 0%, 74%);
  --light-grey: hsl(0, 0%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: var(--poppins);
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root,
main {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 4.25rem;
  line-height: 4.5rem;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.625rem;
  line-height: 3rem;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 3rem;
}

h4 {
  font-family: var(--ibm);
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
/* #endregion */

/* #region ----------------- APP COMPONENT */
.App {
  position: relative;
  flex-grow: 1;
}

.App::before {
  content: '';
  background: url('./assets/header-bg.svg') no-repeat;
  background-position: left top;
  background-size: 100%;
  width: 100vw;
  height: 84vw;
  max-width: 35rem;
  position: absolute;
}
/* #endregion */

/* #region ----------------- HEADER COMPONENT */
.header {
  padding: 3rem;
  padding-bottom: 0;
  position: relative;
}

.header nav {
  display: flex;
  justify-content: space-between;
}

.header nav > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.75rem;
}

.header__logo {
  display: none;
  width: 8rem;
}

.header__home,
.header__message {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  transition: background 0.3s;
}

.header__home {
  background: url('./assets/home.svg') no-repeat center;
}

.header__home:hover {
  background: url('./assets/home-hover.svg') no-repeat center;
}

.header__message {
  background: url('./assets/messages.svg') no-repeat center;
}

.header__message:hover {
  background: url('./assets/messages-hover.svg') no-repeat center;
}
/* #endregion */

/* #region ----------------- BUTTON COMPONENT */
button {
  width: 50vw;
  background: var(--coral);
  padding: 0.5rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  transition: 0.3s background;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: var(--btn-hover);
}
/* #endregion */

/* #region ----------------- FOOTER COMPONENT */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  background: var(--green);
  color: var(--white);
  font-size: 1rem;
  position: relative;
}

.footer__img {
  position: absolute;
  bottom: -6.5rem;
  left: 45%;
  transform: translateX(-50%);
}

.footer a {
  color: var(--white);
  border-bottom: 1px solid;
  /* text-decoration: underline;
  text-underline-offset: 6px; */
  transition: 0.3s color;
}

.footer a:hover {
  color: var(--coral);
}
/* #endregion */
